h1,h2,h3,h4,h5,h6{
    font-family:'Noto Serif TC', serif;
}
p,a,input,label,textarea,span,ul,li{
    font-family: 'Open Sans', sans-serif;
}
#intro .jumbotron{
    height:70vh;
}
#intro h1{
    font-size: 50px;
    font-weight: 300;
    line-height: 1.5;
}
.btn{
    background: #f05f5c;
    color: black;
    padding: 10px 15px;
    border-radius: 20px;
}
h3{
    font-size: 35px;
    line-height: 1.5;
    font-weight: 200;
}
p{
    color:grey;
    line-height: 1.5;
}
p.lead{
    color:black;
}
img{
    max-width:100%;
}
#intro .container{
    position: relative;
    top:50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
header nav img{
    width: 80px;
    height: 70px;
}
header li {
    margin: 0 18px;
}
#second{
    padding: 30px 0px;
}
#second h3{
    margin-bottom: 50px;
}
#second img{
    width: 200;
    height: 200;
    border-radius: 100%;
}
#third img{
    width: 400;
}
#third{
    padding: 80px 0px;
    background: rgb(248, 248, 248) ;
}
#third h3{
    margin-bottom: 80px;
}
#third .upper{
    position: relative;
}
#third .innertext{
    position: absolute;
    bottom: 12px;
    left: 22;
}
#third .innertext span{
    background: rgba(255,255,255,0.6);
    padding: 0px 15px;
    border-radius: 20px;
    margin-left: 10px;
}
#third .innertext h4{
    font-size: 22px;
}
#third .lower h3{
    font-size: 22px;
    margin-bottom: 12px;
    margin-top: 0px;
    margin-left: 20px;
}
#third .lower span{
    font-size: 16px;
    margin-bottom: 12px;
    margin-top: 0px;
    margin-left: 20px;
}
#third .lower i{
    margin-right: 6px;
}
#third .outer{
    background: white;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.08);
}
#third .upper{
    padding: 6px 20px 20px 20px;
}
#third a{
    color: black;
}
#third a:hover{
    text-decoration: none;
}
#fourth{
    padding: 80px 0px;
}
#fourth h3{
    margin-bottom: 80px;
}
#fourth .input-group{
    margin-bottom:20px;
}
footer{
    border-top: solid 1px #c9c9c9;
    padding: 80px 0px;
}
footer h4{
    margin-bottom: 26px;
}
footer a{
    color: #f05f5c;
}
footer ul{
    list-style: none;
    padding: 0;
    float: left;
    margin-right:50px;
}
footer ul li{
    margin-bottom:10px;
}
footer ul li a{
    color: #707070;
}
@media only screen and (max-width:768px){

    #second h5{
        margin-bottom: 63px;
    }
    #third .outer{
        margin-bottom: 54px;
    }
    #third .outer img{
        width:100%;
    }
    footer h4{
        margin-bottom: 26px;
        margin-top: 35px;
    }
}
